
html{
    scroll-behavior: smooth;
    width: 100%;
    overflow-x:hidden;
}

a{
  text-decoration: none;
  color:black;
  font-size: 18px;
  font-family: Raleway;
  display: block;
  padding: 20px;
  position: relative;
  cursor: pointer;
}

a:hover{
  text-decoration: underline;
}

.topSect{
    transition: linear transform .3s;
    -webkit-transition: linear transform .3s;
}

.sideTab{
  top:70px;left:0px;
  height: auto;
  background: white;
  padding: 20px;
  margin: 0px;
  width: 150px;
  transition: linear all .3s;
  -webkit-transition: linear all .3s;
  z-index:105;
  position:sticky;
  box-shadow: 0px 5px 15px 5px rgba(0,0,0,.15);
  transform: translateX(-200px);
  -webkit-transform: translateX(-200px);
}

#container{
  position: absolute;
  height: auto;
  display: block;
  width: 100%;
  bottom: 0px;
  left: 0px;
}

#redBox{
  display: flex;
  background-color: rgba(32,56,100,1);
  justify-content: center;
  min-height: 150px;
  height: auto;
  margin-top: 160px;
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 1000;
  transition: opacity none;
  -webkit-transition: opacity none;
  opacity: 1;
  align-items: center;
  position: relative;
  margin: 0px;
}

.sumBox{
  padding:0px 15%;
}

.boxTitle{
  width: 100%;
  text-align: center;
  font-family: Oswald;
  font-size: 40px;
  margin: 50px 0px;
  margin-top: 0px;
  display: block;
  padding:20px 0px;
  color: rgba(32,56,100,1);
}

.backgroundSect{
  min-height: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 150px 0px;
  position: relative;
  color: white;
  z-index: 5;
  padding-bottom:0px;
  padding: 140px 0px;

}


.backVideo{
  object-fit: cover;
  left:0px;
  position: fixed;
  margin: auto;
  right:0px;
  top: 0px;
  height: 100%;
  width: 100%;
  opacity: 1;
  display: flex;
  align-self: center;
  transition: opacity 1s ease-in;
  -webkit-transition: opacity 1s ease-in;
}

.vidCont{
  height: 100%;
  width: 100%;
  top:0px; left:0px;
}

.out{
  opacity:0;
  z-index:1;
}

.spaceHolder{
  z-index: 5;
}

.move{
  transition: linear transform .3s;
  z-index: 1000;
  transition: opacity none;
  -webkit-transition: linear transform .3s;
  -webkit-transition: opacity none;
  opacity: 1;
  align-items: center;
  display: block;
}

#back1{
  /*background: rgba(245, 177, 75, 0.83);*/
  margin-top: -290px;
  min-height: 90vh;
}


.backTitle{
  background: rgba(245, 177, 75, 0.75);
}

.body{
  width: 100%;
  top:0px;
  position: relative;
  transition: linear all .3s;
  -webkit-transition: linear all .3s;
}


.frontPair{
  padding: 20px 20px;
  transition: opacity .45s;
  -webkit-transition: opacity .45s;
}

.bookTitle,.summary{
  display: block;
  width:100%;
  text-align: center;
  font-family: Quicksand;
  font-size: 14px;
}

.bookTitle{
  font-size: 20px;
}

.bodyFixed{
  transform: translateX(200px);
  -webkit-transform: translateX(200px);
}

.tabFixed{
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
}

.arrow{
  position: absolute;
  height:60px;
  width: 60px;
  background: white;
  border: 2px solid rgb(242,232,222);
  top:0px;
  left: 210px;
  cursor: pointer;
  padding-right:10px;
  transition: linear all .3s;
  -webkit-transition: linear all .3s;
  z-index:110;
}

.actArrow{
  font-size: 30px;
  transform: rotate(-90deg);
  position: relative;
  padding: 10px;
  top:-40px;
  transition: linear all .3s;
  -webkit-transition: linear all .3s;
}

.actArrowFixed{
  transform: rotate(90deg);
  top:-15px;
  left:5px;
}


/**/

.boxCont{
  position:relative;
  width:100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  vertical-align: top;
}

.book{
  height:auto;
  object-fit: contain;
  width: 100%;
  position: relative;
  box-shadow: 5px 5px 15px 0px rgba(0,0,0,.25);
}


.bookCont{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.bookBorder{
  position: relative;
  background: transparent;
  padding: 40px;
  box-shadow: none;
}

.flip{
  width: 100%;
  padding: 0px;
  margin: 5px 0px;
}

.pair{
  height:auto;
  position: relative;
  width: auto;
  display: flex;
  justify-content: center;
  margin-bottom:120px;
  width:90%;
  left:0px;right:0px;margin: auto;
}


.front{
  display: flex;
  justify-content: center;
  align-items: center;
  color:black;
  position:relative;
  height:auto;
  width: 100%;
  top:0px;left: 0px; right:0px;bottom: 0px;
  margin:auto;
}


.parentCont{
  color:black;
  display: flex;
  justify-content: center;
}

.padCont{
  width: 90%;
}

.textBox{
  padding: 40px;
  height: auto;
  padding-top:15px;
}


.pairFix{
    background: transparent;
}

.parentSum{
  border: none;
  color: black;
}

.textSum{
  padding:30px;
  width: auto;
  padding-bottom: 10px;
}

.textSibShops{
  left:0px;right:00px;
  width:80%;
  margin: 40px auto;
  margin-bottom: 0px;
}

ul{
  display:list-item;
}

.backodd{
  background:rgba(32,56,100,.9);
}

.backeven{
  background: rgba(252,242,232,.9);
}

#sibShops{
  height: 100px;
  min-height: auto;
  padding: 0px;
  padding-top:100px;
}

.sibShopsCat{
  background: rgba(252,242,232,.9);
  z-index: 100;
  position: relative;
  min-height: auto;
  display: flex;
  width: 100%;
  padding: 140px 0px;
  padding-top:100px;
}

.linkBut{
  margin: 0px;
  color: white;
  background: rgba(32,56,100,1);
  width:200px;
  left:0px;right:00px;
  margin: 40px auto;
  padding:20px;
  margin-top: 0px;
}

.boxTitle{
  margin-bottom: 0px;
  margin-top: -50px;
}

.down{
  margin-bottom: -40px;
  margin-top:50px;
  z-index: 5000;
  color:rgb(32,56,100);
}

#sibShops{display: none;}

.light{
  color:white;
}

@media only screen and (min-width: 650px){
  .textBox{
    background: white;
    border: 4px solid rgb(242,232,222);
    padding:40px;
  }

  .light{color:black;}

  .frontPair{
    padding: 60px 40px;
    padding-top: 30px;
    background: white;
    border: 3px solid rgb(242,232,222);}

  .backgroundSect{
    margin:0px 0px;}

  .flip{
    margin: 20px 0px;
  }

  #sibShops{
    display: flex;
  }

  .backgroundSect{
    min-height: 90vh;}

  .bookCont{
    display: block;}

  .backgroundSect{
    padding:150px 0px;}

  .boxTitle{
    margin-bottom: 50px;
  }

  .flip{
    padding: 15%;}

.sibShopsCat{
  align-items: center;
  justify-content: center;
  padding-bottom:auto;
  min-height:70vh;
  padding:60px 0px;
}

#sibShops{
  min-height: 100vh;
  padding:auto;
}

  .boxTitle{
    color: white;
  }

  .backodd{
  background: rgba(0,0,0,.25);
  padding-top:250px;
  }

  .backeven{
    background:rgba(32,56,100,.8);
  }


  .boxTitle{
    font-size: 45px;
  }

  .bookTitle,.summary{
    font-size: 15px;
  }

  .bookTitle{
    font-size: 22px;
  }

  .pair{
    background: transparent;
  }

  .frontAlt{
    background: white;
    color: black;
  }

  .pair{
    height:auto;
    position: relative;
    width: auto;
    margin:60px 60px;
    vertical-align: top;
  }

  .boxCont{
    position:relative;
    width:auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    vertical-align: top;
  }

  .book{
    height:350px;
    width: auto;
    position: relative;
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,.25);
  }

  .bookCont{
    transform: rotateY(180deg);
     -webkit-transform: rotateY(180deg);
  }

  .flip{
    background: rgba(32,56,100,1);
    padding: 10px 10px;
    width: 520px;
    height:100%;
     transition: linear transform .4s;
     -webkit-transition: linear transform .4s;
    transform-style: preserve-3d;
     -webkit-transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .flipAlt{
    background: white;
  }

  .pair:hover .flip{
    -webkit-transform: rotateY(180deg);
    transform:rotateY(180deg);
  }

  .pair:hover .frontPair{
    opacity: 0;
  }

  .bookCont{
    position: relative;
    height: 100%;
    width: 100%;
    padding:30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .45s;
    -webkit-transition: opacity .45s;
  }

  .pair:hover .bookCont{
    opacity: 1;
  }

  .bookBorder{
    position: relative;
    background: white;
    padding: 20px;
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,.35);
  }

  .bookBordAlt{
    background: rgba(32,56,100,.75);
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0);
  }

  .front{
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    position:absolute;
    height:auto;
    width: 400px;
    top:0px;left: 0px; right:0px;bottom: 0px;
    margin:auto;
  }

  .front, .bookCont{
    background-color:rgba(32,56,100,1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .frontContAlt, .bookContAlt{
    background-color: white;
  }

  .padCont{
    width: 600px;
  }

  .parentCont{
    margin-top: 50px;
  }

  .down{
    margin-bottom: -40px;
    margin-top:50px;
    z-index: 5000;
    color:rgb(32,56,100);
  }

  .extraPad{
    padding: 60px 10px;
  }

}

@media only screen and (min-width: 850px){
  .boxTitle{
    font-size: 50px;
  }


  .bookTitle{
    font-size: 24px;
  }


  .sideTab{
    top:130px;left:0px;}

    .body{
      margin-top:-220px;
    }

}

@media only screen and (min-width: 1300px){
  .move{
    width: 100%;
  }
  .boxCont{
    display: block;
    width: 100%;
  }

  .pair2{
      margin-top: 150px;
    margin-left:40%;
  }
  .pair1{
    margin-left:-30%;
      margin-top: 120px;
  }

  .pair15{
    margin-top: 150px;
  }
}


@media only screen and (min-width: 1600px){
  .arrow{
    display: none;
  }

  .sideTab{
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
  }

  .body{
    width: calc(100% - 225px);
    margin-left: 225px;
  }

  .vidCont{
    object-fit: cover;
    left:0px;
    position: fixed;
    margin: auto;
    right:0px;
    top: 0px;
    height: 100%;
    width: 100%;
    max-width: 1600px;
    opacity: 1;
    display: flex;
    align-self: center;
    transition: opacity 1s ease-in;
    -webkit-transition: opacity 1s ease-in;
  }

  .backVideo{
    margin: 0px;
    left: auto;
    position: absolute;
    height: 100%;
    width: calc(100% - 225px);
    top:0px; right: 0px;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .backVideo{
      height:100%;
      width:auto;
  }
  @media only screen and (min-width: 1600px){
    .backeven{
      background:rgba(32,56,100,1);
    }

    .backodd{
      background: rgba(245, 177, 75, .95);
    }
    .backVideo{
        display: none;
    }

    #back1{
      min-height:100px;
      padding: 0px;
      padding-top:100px;
      background:rgba(32,56,100,1);
    }
  }
}
@supports (-ms-ime-align:auto){
  .backVideo{
      height:100%;
      width:auto;
  }
  @media only screen and (min-width: 1600px){
    .backeven{
      background:rgba(32,56,100,1);
    }

    .backodd{
      background: rgba(245, 177, 75, .95);
    }
    .backVideo{
        display: none;
    }

    #back1{
      min-height:100px;
      padding: 0px;
      padding-top:100px;
      background:rgba(32,56,100,1);
    }
  }
}
